body {
    background-color: #f6cfdd;
    text-align: center; 
}


header {
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;
    background: #ebd4d4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 30px 20px 50px; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 30px; 
    margin-left: 50px; 
    border: 5px solid #b92d2a;
}


h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    text-align: left;
}


a {
    font-size: 16px;
}


ul, ol {
    color: #555;
    text-align: left; 
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}